BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ATASAN_CHAT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALLOWED_CHAT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WEB_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXX
WEB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXX
DB_HOST='xxx.xxx.xxx.xxx'
DB_USER='xxxxxxxxxxxxx'
DB_PASS='##################'
DB_NAME='XXXXXXXXXXXXXXXXXXXXXXX'
API_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
API_HASH=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TELEGRAM_SESSION=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TRIGGER_BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX